<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmHEbOvkbbqJCvhGjJp5dH-3dvyA0wJNU</string>
	<key>GCM_SENDER_ID</key>
	<string>359957603706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tp02</string>
	<key>PROJECT_ID</key>
	<string>demineur-fbb25</string>
	<key>STORAGE_BUCKET</key>
	<string>demineur-fbb25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359957603706:ios:de8f8e520013428bd8e2c3</string>
</dict>
</plist>